<%- include('header') %>

<div class="ui grid">
  <div class="four wide column"></div>
  <div class="eight wide column">
    <form class="ui form segment" method="post" enctype="multipart/form-data">
      <div class="ui grid">
        <div class="four wide column">
          <img src="/images/<%= user.avatar %>" class="ui small circular image">
        </div>
        <div class="twelve wide column">
          <div class="field required">
            <label>用户名</label>
            <span><%= user.name %></span>
          </div>
          <div class="field required">
            <label>性别</label>
            <select name="gender" class="ui compact selection dropdown">
              <option value="m" <% if(user.gender=='m'){ %> selected="selected" <% } %>>男</option>
              <option value="f" <% if(user.gender=='f'){ %> selected="selected" <% } %>>女</option>
              <option value="x" <% if(user.gender=='x'){ %> selected="selected" <% } %>>保密</option>
            </select>
          </div>
        </div>
      </div>
      <div class="field required">
        <label>个人简介</label>
        <textarea name="bio" rows="5"><%= user.bio %></textarea>
      </div>
      <input type="submit" class="ui button fluid" value="保存">
    </form>
  </div>
</div>
<%- include('footer') %>
